<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SingleHashTag</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>
<body>
<nav class="header__nav">
    <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
    <div class="header__nav-item"><a href="/hashtags" class="header__nav-link">Hashtags</a></div>
</nav>
<section class = "hashTagMDisplay">
    <div class="container" th:each = "post: ${hashtag.posts}">
        <a class = "postName" th:text= "${post.title} " th:href="'/posts/'+${post.id}"></a>
    </div>
</section>

</body>
</html>